<a href="https://colab.research.google.com/github/reemamemon/Python_Assignments/blob/main/Assignments_ReemaMemon.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Assignment_01

**Q1:** Write a Python program to print "Hello, World!".

In [ ]:
print("Hello, World!")

Hello, World!

**Q2:** Declare a variable **name** and assign your name to it. Print the value of the variable.

In [ ]:
#Variable Declare
name = 'Reema'
print(name)

Reema

**Q3:** Declare variables using **camelCase, snake_case, and PascalCase.** Assign values to them and print each variable.

In [ ]:
#camelCase
fullName = "Reema Memon"
print(fullName)

#snake_case
highest_education = "BE"
print(highest_education)

#PascalCase
CourseEnrolled = "Python"
print(CourseEnrolled)

Reema Memon
BE
Python

**Q4:** Write a Python program that declares a variable and prints its memory address using the **id() function.**

In [ ]:
#Declare Variables
fullName = "Reema Memon"
highest_education = "BE"
CourseEnrolled = "Python"

#Print Memory Address
print(id(fullName))
print(id(highest_education))
print(id(CourseEnrolled))

139883543144752
139883543147632
139884250297712

**Q5:** Write a Python program that takes **user input** and prints it.

In [ ]:
name = input("Which is your favorite food? ")

print(name)

Which is your favorite food? Fry Fish
Fry Fish

**Q6:** Write a Python program to display the data types of different variables **(e.g., integer, float, string).**

In [ ]:
# Declare variables of different data types
x = 10  # integer
y = 3.14  # float
z = "Reema"  # string
t = True  # boolean

# Print the data type of each variable
print(f"Type of x: {type(x)}")
print(f"Type of y: {type(y)}")
print(f"Type of z: {type(z)}")
print(f"Type of t: {type(t)}")

Type of x: <class 'int'>
Type of y: <class 'float'>
Type of z: <class 'str'>
Type of t: <class 'bool'>

**Q7:** Write a Python program that takes two numbers as input and performs addition and subtraction. Display the results.

In [ ]:
#user input
a = int(input("Enter a number: "))
b = int(input("Enter another number: "))

#perform addition and subtraction
addition = a + b
subtraction = a - b

#Display results
print("Addition:", addition)
print("Subtraction:", subtraction)

Enter a number: 10
Enter another number: 6
Addition: 16
Subtraction: 4

**Q8:** Write a Python program to demonstrate operator precedence. Use addition, subtraction, multiplication, and division in a single expression and show the result. (5 + 3 * 2 - 4 / 2)

In [ ]:
operator_precedence = (5 + 3 * 2 - 4 / 2)
print(operator_precedence)

9.0

**Q9:** Write a  Python program to calculate the area of a rectangle based on user input for its length and width.
Hint:  Take input from the user to enter the length of the rectangle.
Take input from the user to enter the width of the rectangle.
Area=length√ówidth

In [ ]:
#user input
length = float(input("Enter the length of the rectangle: "))
width = float(input("Enter the width of the rectangle: "))

#calculate area
area = length * width
print("Area of the rectangle:", area)

Enter the length of the rectangle: 9
Enter the width of the rectangle: 10
Area of the rectangle: 90.0

**Q10:** Write a Python program that performs the following steps:
Define a string vowels containing all lowercase vowels ('aeiou').
Take input from the user to enter a letter (lowercase). Check if the entered letter is 'a' using membership operators (in or not in). Print True if the entered letter is 'a', otherwise, print False.

In [ ]:
#vowels string
vowels = ('aeiou')

#user input
user_input = input("Enter a letter: ")

#check if the entered letter is 'a' using membership operators
if user_input in vowels:
    print("True")
else:
    print("False")

Enter a letter: a
True

# Assignment_02
**Topic: Bitwise Operators**

**AND Operation Problem:**
Calculate the result of the bitwise AND operation on the numbers 25 and 30.

In [ ]:
a = 25  # 11001
b = 30  # 11110

# Bitwise AND
result = a & b

# Print the result
print(result)

24

**OR Operation Problem:**
Calculate the result of the bitwise OR operation on the numbers 45 and 25.

In [ ]:
a = 45  # 101101
b = 25  # 011001

# Bitwise OR
result = a | b

# Print the result
print(result)

61

**XOR Operation Problem:**
Calculate the result of the bitwise XOR operation on the numbers 29 and 15.

In [ ]:
a = 29  # 11101
b = 15 #  01111

# Bitwise OR
result = a ^ b

# Print the result
print(result)

18

**NOT Operation Problem:**
Calculate the result of the bitwise NOT operation on the number 42.

In [ ]:
a = 42 # 101010

# Bitwise NOT
result = ~a

# Print the result
print (result)

-43

**Shift Operations Problem:**

1.   Calculate the result of left shifting the number 15 by 3 positions.
2.   Calculate the result of right shifting the number 200 by 4 positions.

In [ ]:
a = 15  # 00001111
result1 = a << 3
print(result1)

b = 200 # 11110000
result2 = b >> 4
print(result2)

120
12